<% provide(:title, @volunteer.created_at) %>

<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1> <%= @volunteer.user.name %> </h1>
            <p><%= @volunteer.user.email %></p>
            <p><%= @volunteer.user.mobile %></p>
        </section>
    </aside>

    <div class="col-md-8">
        <%= render @volunteer %>
    </div>

</div>
