<% provide(:title, "About") %>

<h1>About</h1>

<p>This site carries a list of studies currently looking for people to take
part in them at the ICRF. </p>

<p>Some are looking for healthy volunteers, and others are looking for people
with particular health conditions. </p>

<p>You can find out more about these studies and how to apply for them by
clicking on the links below.</p>

<p>If you’d like to be the first to know about any of the healthy
volunteer studies opening at the ICRF, then we recommend you join our <a
href="http://imperial.crf.nihr.ac.uk/patients-public/healthy-volunteer/">Healthy
Volunteer Database</a>.</p>
