<% provide(:title, 'Contact') %>

<h1>Contact</h1>

<p>
NIHR/Wellcome Trust Imperial CRF</br>
Imperial Centre for Translational and Experimental Medicine</br>
Imperial College Healthcare NHS Trust</br>
Hammersmith Hospital</br>
Du Cane Road</br>
London W12 0HS
</p>

<p>
Monday−Friday   8:00 − 17:00</br>
020 3313 8070
</p>

<p>
<a href="mailto:Imperial.CRF@imperial.nhs.uk" data-address="ku/shn/lairepmi]ta[FRC/lairepmI" class="email-nospam">Imperial.CRF@imperial.nhs.uk</a>
</p>

