<% provide(:title, "Home") %>

<div class="center jumbotron">
    <h1>Imperial Trials </h1>

    <h2>
        This is the home page for the Imperial Trials microsite. 
    </h2>

    <p>
        Some more text. 
    </p>

    <%= link_to "View current trials", '#', class: "btn btn-lg btn-primary" %>
</div>
