<li>
    <%= link_to_image trial.logo_url, trial, 
        alt: trial.name, class: "trial_logo" %>
</li>

<li>
    <%= link_to trial.name, trial %>
</li>

<li>
    <%= trial.short_description %>
</li>
