<li>

    <ul class="trial-item">
        <li class="title">
            <%= link_to trial.name, new_volunteer_path(trial_id: trial.id) %>
        </li>

        <li>
            <%= link_to_image trial.logo_url, new_volunteer_path(trial_id: trial.id), 
                alt: trial.name, class: "trial_logo" %>
        </li>

        <li>
            <%= trial.short_description %>
        </li>

        <% if is_admin? %>
            <li>
                <%= link_to "Delete trial", @trial, class: "btn btn-sm btn-primary pull-right", 
                    method: :delete, 
                    data: { confirm: "Delete #{trial.name} -- you sure?" } %>
            </li>
        <% end %>
    </ul>

</li>
