<footer class="footer">
    <nav>
        <ul>
            <li><%= link_to image_tag("icrf-logo-275-2.png", alt: "ICRF logo"),
                'http://imperial.crf.nihr.ac.uk/' %></li>
            <li><%= link_to image_tag("NIHR-col1.png", alt: "NIHR logo"),
                '#' %></li>
        </ul>
    </nav>
</footer>

